<!-- <div class="table-responsive">
    <div class="container" style="width: 60%; text-align: center;">
        <table id="user-influence" class="table table-bordered">
            <thead>
                <h2>用户影响力列表</h2>
            </thead>
            <tbody>
                <tr>
                    <th style="width: 50%;">
                        <span style="display: block; text-align: center;">用户昵称</span>
                    </th>
                    <td id="screen_name"></td>
                </tr>
                <tr>
                    <th style="width: 50%;">
                        <span style="display: block; text-align: center;">用户直接影响力(Ie)</span>
                    </th>
                    <td id="Ie"></td>
                </tr>
                <tr>
                    <th>
                        <span style="display: block; text-align: center;">用户级联影响力(Ic)</span>
                    </th>
                    <td id="Ic"></td>
                </tr>
                <tr>
                    <th>
                        <span style="display: block; text-align: center;">用户绝对影响力(Ia)</span>
                    </th>
                    <td id="Ia"></td>
                </tr>
                <tr>
                    <th>
                        <span style="display: block; text-align: center;">用户相对影响力(I)</span>
                    </th>
                    <td id="I"></td>
                </tr>
                
            </tbody>
        </table>
    </div>
    
</div>


<div class="table-responsive">
    <div class="container" style="width: 60%; text-align: center;">
        <table id="user-influence1" class="table table-bordered">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <th style="width: 50%;">
                        <span style="display: block; text-align: center;">用户昵称</span>
                    </th>
                    <td id="screen_name1"></td>
                </tr>
                <tr>
                    <th style="width: 50%;">
                        <span style="display: block; text-align: center;">用户直接影响力(Ie)</span>
                    </th>
                    <td id="Ie1"></td>
                </tr>
                <tr>
                    <th>
                        <span style="display: block; text-align: center;">用户级联影响力(Ic)</span>
                    </th>
                    <td id="Ic1"></td>
                </tr>
                <tr>
                    <th>
                        <span style="display: block; text-align: center;">用户绝对影响力(Ia)</span>
                    </th>
                    <td id="Ia1"></td>
                </tr>
                <tr>
                    <th>
                        <span style="display: block; text-align: center;">用户相对影响力(I)</span>
                    </th>
                    <td id="I1"></td>
                </tr>
                
            </tbody>
        </table>
    </div>
    
</div> -->



<div class="table-responsive">
    <div class="container" style="width: 60%; text-align: center;">
        <table id="user-influence" class="table table-bordered table-striped table-hover" style="text-align: center;">
            <thead>
                <h2>用户影响力列表</h2>
            </thead>
            <tbody id="influence-table">
                
                
            </tbody>
        </table>
    </div>
    
</div>




<!-- <div class="table-responsive">
    <b>
        <h2>
            <div class="container" id="title" style="width: 60%; text-align: center;"></div>
        </h2>
    </b>
</div> -->

<!-- <div class="table-responsive">
    <div class="container" style="width: 60%; text-align: center;">
        <table id="influence" class="table table-bordered"></table></div></div> -->



<script src="../static/js/influence.js"></script>