
<!-- <div class="table-responsive">
	<div class="container" style="width: 60%; text-align: center;">
		<table id="weekweibonum" class="table table-bordered"></table></div></div>
 -->

<div class="table-responsive">
	<b>
		<h2>
			<div class="container" id="weekweibonum" style="width: 60%; text-align: center;"></div>
		</h2>
	</b>
</div>

<div class="table-responsive">
	<div class="container" style="width: 60%; text-align: center;">
		<table id="myweibokey" class="table table-bordered"></table></div></div>



<div class ="data-container">
    <h1>实时转发数据</h1>
    <div id="container-status-realtime" style="height: 500px; min-width: 600px;padding-bottom: 50px;"></div>
</div>


<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<script src="../static/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="../static/js/data.js"></script>

<script type="text/javascript" src="../static/jquery-1.11.0.min.js"></script>
<script src="../static/highcharts/js/highcharts.js"></script>
<script src="../static/highcharts/js/modules/exporting.js"></script>
<script src="../static/highcharts/js/modules/data.js"></script>
<script src="../static/js/microbo.js"></script>
<!-- <script src="../static/js/influence.js"></script> -->