<div class="table-responsive">
    <div class="container" style="width: 60%; text-align: center;">
        <table id="userinfo-list" class="table table-bordered">
            <thead>
                <h2>用户信息列表</h2>
            </thead>
            <tbody>
                <tr>
                    <th style="width: 50%;">
                        <span style="display: block; text-align: center;">用户id</span>
                    </th>
                    <td id="idstr"></td>
                </tr>
                <tr>
                    <th>
                        <span style="display: block; text-align: center;">用户昵称</span>
                    </th>
                    <td id="screen_name"></td>
                </tr>
                <tr>
                    <th>
                        <span style="display: block; text-align: center;">用户位置</span>
                    </th>
                    <td id="location"></td>
                </tr>
                <tr>
                    <th>
                        <span style="display: block; text-align: center;">粉丝数</span>
                    </th>
                    <td id="friends_count"></td>
                </tr>
                <tr>
                    <th>
                        <span style="display: block; text-align: center;">关注数</span>
                    </th>
                    <td id="followers_count"></td>
                </tr>
                <tr>
                    <th>
                        <span style="display: block; text-align: center;">微博数</span>
                    </th>
                    <td id="statuses_count"></td>
                </tr>
                <tr>
                    <th>
                        <span style="display: block; text-align: center;">用户创建时间</span>
                    </th>
                    <td id="created_at"></td>
                </tr>
                <tr>
                    <th>
                        <span style="display: block; text-align: center;">认证用户</span>
                    </th>
                    <td id="verified"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
<script src="../static/js/userinfo.js"></script>